html, body
{
    height: 100%;
    margin-top: 0;
}
body
{
    background: #F5F5F5;
}

/*Сетка*/
/*****************************/
#grid_container
{
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "subheader subheader"
        "subheader_m subheader_m"
        "leftbar main"
        "footer footer"
        ;
    grid-gap: 2px;
}
#gr_header
{
    grid-area: header;
    background: #A2E7B9;
    border-radius: 7px;
    text-align: center;
}
#gr_sub_header
{
    grid-area: subheader;
    background: #A2E7B9;
    border-radius: 7px;
}
#gr_sub_header_m
{
    grid-area: subheader_m;
    background: #A2E7B9;
    border-radius: 7px;
}
#gr_left_bar
{
    grid-area: leftbar;
    background-color: #FDDAB9;
    border-radius: 7px;
}
#gr_main
{
    grid-area: main;
    background: #fff;
    border-radius: 7px;
    text-align: justify;
    padding: 0 10px;
    font: normal 15px/1.75em Verdana;
}
#gr_footer
{
    grid-area: footer;
    background: red;
    border-radius: 7px;
    background: #A2E7B9;
}
/*****************************/

#gr_header h1 {color: #A3605C;}

#gr_sub_header, #gr_sub_header_m
{
    background: #A2E7B9;
    border-radius: 7px;
}

#gr_sub_header ul, #gr_sub_header_m ul
{
    list-style: none;
    padding: 0;
    margin: 0 3px 0 0;
}

#gr_sub_header ul li a, #gr_sub_header_m ul li a
{
    display: block;
    float: left;
    padding: 0 15px;
    border-right: 3px solid #fff;
    color: #A3605C;
    font: bold 14px/35px Verdana;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

#gr_main h1
{
    text-align: center;
    font-size: 1.3em;
    color: #333333;
    text-transform: uppercase;
}

#gr_main img
{
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 95%;
}


.hr_bt
{
    display: block;
    float: right;
    color: white;
    background-color: forestgreen;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
}

.ul_rubric
{
    margin: 5px 0px 5px 30px;
    padding: 0;
    font-family: Verdana;
}

.li_post
{
    list-style-type: none;
    display: block;
    padding-top: 3px;
}

.li_post a
{
    color: #2E3843;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.li_rubric, .li_rubric_1
{
    margin: 15px 0px 0px -25px;
    padding-left: 5px;
    list-style-type: none;
    display: block;
    color: #462927;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

}

.li_rubric_1
{
    margin-left: -15px;
    margin-top: 7px;
}

#gr_main .li_post{padding-left: 30px;}
#gr_main .li_rubric{margin-left: 0px;}
#gr_main .li_rubric_1{margin-left: 0px; padding-left: 15px;}

/******Медиазапросы*******/
@media only screen and (min-width: 0px),
only screen and (min-device-width: 0px)
{
    #grid_container
    {
        grid-template-rows: 50px 0 35px auto 10px;
        grid-template-columns: 0 auto;
        width: 100%;
    }
    #gr_header h1{font-size: 1em;}

}
@media only screen and (min-width: 900px),
only screen and (min-device-width: 900px)
{
    #grid_container
    {
        grid-template-rows: 70px 35px 0 auto 50px;
        grid-template-columns: 250px auto;
        width: 1050px;
    }
    #gr_sub_header_m{display: none;}
    #gr_header h1{font-size: xx-large;}
}
