#LoginWindow
{
	width:      250px;
	background: #D8BFD8;
	margin:     15% auto auto auto;
	padding:    20;
}

.row_dir
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
        
}

.column_dir
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.clear
{
	clear: both;
}

#DivMain
{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/*background: #ff0;*/
        /*background: #008;*/
        background: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	
}

#DivHeader
{
	text-align: center;
	font-size: 20pt;
	padding: 20px;
	background: #87CEFA;
}

#DivLeft
{
	width: 300px;
	margin: 2px 2px 0px 0px;
        padding: 10px;
	text-align: left;
	/*background: #f0f;*/
        /*background: #0ff;*/
	background: #87CEFA;
	overflow: auto;
}

#DivCenter
{
	width: 900px;
	margin: 2px 0px 0px 0;
        padding: 0 10px;
	text-align: left;
	/*background: #55f;*/
        background: #D8BFD8;
	overflow: auto;
}



table
{
    /*border-collapse: collapse;*/
}

th {border: 1px solid #000; padding: 15px;}
td {border: 1px solid #000; padding-left: 10px; padding-right: 10px;}
td.create {background: #98FB98; border: 0;}
td.change{background: #FAFAD2; border: 0;}
td.delete{background: #DA70D6; border: 0;}
.noborder{border: 0;}